<div class="card card-school text-white mt-3 mb-3 px-3 px-md-5 pt-md-3 pb-1 shadow-lg">
  <div class="card-head">
    <h1 class="card-title">Editar pergunta</h1>
  </div>
  <div class="card-body py-sm-0">
  	<p id="notice"><%= notice %></p>

		<%= render 'form', pergunta: @pergunta %>
  </div>
  <%= link_to 'Voltar', perguntas_path, class: "text-white" %>
</div>
