<div class="container-fluid px-0">
	<nav class="navbar px-0">
		<div class="progress-container ml-3">
			<span class="px-2 text-white text-shadow-white text-shadow-1">Tédio</span>

			<div id="bored" class="bar bar-horizontal bar-5">
				<div id="bored-progress" class="progress progress-bored"></div>
			</div>
		</div>

		<div class="progress-container ml-auto">
			<span class="px-2 text-white text-shadow-white text-shadow-1">Estresse</span>

			<div id="stress" class="bar bar-horizontal bar-5">
				<div id="stress-progress" class="progress progress-stress"></div>
			</div>
		</div>

		<div class="progress-container ml-auto mr-3">
			<span class="px-2 text-white text-shadow-white text-shadow-1">XP</span>

			<div id="stress" class="bar bar-horizontal bar-5">
				<div id="stress-progress" class="progress progress-xp"></div>
			</div>
		</div>

		<div class="profile-container text-white text-shadow-white text-shadow-1 text-center">
			<button class="btn btn-sm icon-circle bg-white"><i class="fas fa-user fa-2x"></i></button>

			<div class="px-3">
				<span>Nível: </span>

				<span id="lv">1</span>
			</div>
		</div>
	</nav>
</div>
