<div class="container-fluid px-0">
	<nav class="navbar px-0">
		<div class="progress-container ml-3">
			<span class="px-2 text-white text-shadow-black">Tédio</span>

			<div id="bored" class="bar bar-horizontal bar-5">
				<div id="bored-progress" class="progress progress-bored"></div>
			</div>
		</div>

		<div class="progress-container ml-auto">
			<span class="px-2 text-white text-shadow-black">Estresse</span>

			<div id="stress" class="bar bar-horizontal bar-5">
				<div id="stress-progress" class="progress progress-stress"></div>
			</div>
		</div>

		<div class="progress-container ml-auto mr-4">
			<span class="px-2 text-white text-shadow-black">XP</span>

			<div id="xp" class="bar bar-horizontal bar-5">
				<div id="xp-progress" class="progress progress-xp"></div>
			</div>
		</div>

		<div class="profile-container text-white text-center mr-2">
			<!-- <button class="btn btn-sm icon-circle bg-white"><i class="fas fa-user fa-2x"></i></button> -->
			<div class="box">
				<%= current_user.nome %>
			</div>

			<div class="px-3">
				<span class="text-shadow-black">Nível: </span>

				<span id="lv" class="text-shadow-black">1</span>
			</div>
		</div>
	</nav>
</div>
