<section>
  <%= render "navbarhub" %>

  <div class="sidebar pl-3 text-left">
  	<h4 class="my-3">
  		<b>Progressos do nível</b>
  	</h4>

  	<div class="progress-container ml-auto mr-3 mt-2">
			<span class="ce-span">Ciências Exatas:</span> <span id="ce-percent">10%</span>

			<div id="ce" class="bar bar-horizontal bar-5">
				<div id="ce-progress" class="progress progress-blue"></div>
			</div>
		</div>

		<div class="progress-container ml-auto mr-3 mt-2">
			<span class="ch-span">Ciências Humanas:</span> <span id="ch-percent">10%</span>

			<div id="ch" class="bar bar-horizontal bar-5">
				<div id="ch-progress" class="progress progress-blue"></div>
			</div>
		</div>

		<div class="progress-container ml-auto mr-3 mt-2">
			<span class="cb-span">Ciências Biológicas:</span> <span id="cb-percent">10%</span>

			<div id="cb" class="bar bar-horizontal bar-5">
				<div id="cb-progress" class="progress progress-blue"></div>
			</div>
		</div>

		<div class="progress-container ml-auto mr-3 mt-2">
			<span class="lc-span">Linguagens e Códigos:</span> <span id="lc-percent">10%</span>

			<div id="lc" class="bar bar-horizontal bar-5">
				<div id="lc-progress" class="progress progress-blue"></div>
			</div>
		</div>
  </div>

  <div class="subjects col-8 offset-3">
  	<div class="subject-container col-4 bg-white">
  		<div class="subject-head text-center">
  			<h3 class="subject-title">Ciências Exatas</h3>
  		</div>

  		<div class="subject-body">
  			
  		</div>
  	</div>
  </div>
</section>

<script type="text/javascript">
  $(".container").addClass("no-container");
</script>
