<section>
  <%= render "navbarhub" %>

  <div class="sidebar pl-3 text-left">
  	<h4 class="my-3">
  		<b>Progressos do nível</b>
  	</h4>

  	<div class="progress-container ml-auto mr-3 mt-2">
			<span class="ce-span">Ciências Exatas:</span> <span id="ce-percent">0</span>%

			<div id="ce" class="bar bar-horizontal bar-5">
				<div id="ce-progress" class="progress progress-blue"></div>
			</div>
		</div>

		<div class="progress-container ml-auto mr-3 mt-2">
			<span class="ch-span">Ciências Humanas:</span> <span id="ch-percent">0</span>%

			<div id="ch" class="bar bar-horizontal bar-5">
				<div id="ch-progress" class="progress progress-blue"></div>
			</div>
		</div>

		<div class="progress-container ml-auto mr-3 mt-2">
			<span class="cb-span">Ciências Biológicas:</span> <span id="cb-percent">0</span>%

			<div id="cb" class="bar bar-horizontal bar-5">
				<div id="cb-progress" class="progress progress-blue"></div>
			</div>
		</div>

		<div class="progress-container ml-auto mr-3 mt-2">
			<span class="lc-span">Linguagens e Códigos:</span> <span id="lc-percent">0</span>%

			<div id="lc" class="bar bar-horizontal bar-5">
				<div id="lc-progress" class="progress progress-blue"></div>
			</div>
		</div>
  </div>

  <div class="subjects">
  	<div id="ce-container" class="subject-container">
  		<div class="subject-head text-center">
  			<h2 class="subject-title">Ciências Exatas</h2>
  		</div>

  		<div class="subject-body">

  		</div>
  	</div>

  	<div id="ch-container" class="subject-container">
  		<div class="subject-head text-center">
  			<h2 class="subject-title">Ciências Humanas</h2>
  		</div>

  		<div class="subject-body">
  			
  		</div>
  	</div>

  	<div id="cb-container" class="subject-container">
  		<div class="subject-head text-center">
  			<h2 class="subject-title">Ciências Biológicas</h2>
  		</div>

  		<div class="subject-body">
  			
  		</div>
  	</div>

  	<div id="lc-container" class="subject-container">
  		<div class="subject-head text-center">
  			<h2 class="subject-title">Linguágens e Códigos</h2>
  		</div>

  		<div class="subject-body">
  			
  		</div>
  	</div>

  	<div id="br-container" class="subject-container subject-min">
  		<div class="subject-head text-center">
  			<h2 class="subject-title">Dormitório</h2>
  		</div>

  		<div class="subject-body">
  			
  		</div>
  	</div>

  	<div id="sr-container" class="subject-container subject-min">
  		<div class="subject-head text-center">
  			<h2 class="subject-title">Recreação</h2>
  		</div>

  		<div class="subject-body">
  			
  		</div>
  	</div>
  </div>
</section>

<script type="text/javascript">
  $(".container").addClass("no-container");
  $(".subject-container").click(function(){redirect(this.id)});
</script>
