<div class='container'>
  <div class="row justify-content-center">
    <% if current_user %>
      <button class="btn btn-lg btn-success">Jogar!</button><br>
      <%= link_to "Perfil", edit_user_registration_path, class: "btn btn-warning" %><br>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary" %><br>
      <%= link_to "Registrar-se", new_user_registration_path, class: "btn btn-info" %>
    <% end %>
  </div>
</div>
