<div class='container container-home'>
  <!-- <div class='logo'></div> -->
  <div class='boys-container'>
  	<div class="row no-gutters">
  		<div class="offset-1 offset-sm-2 col-6 col-sm-2">
  			<!-- <stan></stan> -->
  		</div>
	  	<div class="col-5 col-sm-2">
		    <!-- <kyle></kyle> -->
	  	</div>
	  	<div class="offset-1 offset-sm-0 col-6 col-sm-2">
		    <!-- <cartman></cartman> -->
	  	</div>
	  	<div class="col-5 col-sm-2">
		    <!-- <kenny></kenny> -->
	  	</div>
  	</div>
  </div>
  <div class="row justify-content-center">
  	<button class="btn btn-lg btn-success">Jogar!</button>
  </div>
</div>
