@import "bootstrap";
@import "font_awesome5";
@import url("hover-min.css");

@font-face {
	font-family: school;
	src: url("/assets/SqueakyChalkSound.ttf");
}

body {
	background-image: url("/assets/bg.jpg");
	background-repeat: repeat;
	background-size: 100px 100px;
	height: 100vh;
	border: 20px solid transparent;
	border-image: url(muro.jpg) 600 round;
  border-image-repeat: repeat;
}

.card.card-school {
	border: 8px solid rgb(205,114,69);
	background-image: radial-gradient(#068a50 50%, darkgreen);
	font-family: school;
	text-shadow: 2px 2px 2px black;

	.card-head {
		font-weight: 800;
	}

	.card-body {
		.form-inputs {
			@media(max-width: 720px) {
				.form-control-label, .form-control {
					text-align: center !important;
				}
			}

			.form-control, .form-control:focus {
				font-size: 1.1em;
				border: none;
				border-bottom: 1px dashed white;
				box-shadow: none;
				color: white;
				text-shadow: 2px 2px 2px black;
				line-height: 1.4;
				background-color: transparent;
	    	border-radius: 0.25rem 0.25rem 0 0;
	    	padding: 0.25rem 0 0 0;
			}

			select.form-control, select.form-control:focus {
				font-size: 1em;
			}
			
			.form-control-label {
				font-size: 1em;
				margin: 0.5rem 0 0 0;
			}

			.form-control-label:not(:first-child) {
				padding-top: 0.5rem;
				padding-bottom: 0;
			}
		}

		::placeholder {
			color: white;
			text-shadow: 2px 2px 2px black;
		}

		.shared {
			a {
				font-size: 0.9em;
				color: white;
			}
		}

		.btn {
			background-color: transparent;
			background-image: url("/assets/apagador.png");
			background-size: 100% 100%;
			border-radius: 0 0 5px 5px;
			border: none;
			margin-bottom: 5px;
			padding-left: 1.5rem !important;
			padding-right: 1.5rem !important;
			padding-bottom: 1rem !important;
			text-shadow: 2px 2px 2px white;
			box-shadow: 0px 1px 5px 1px black;
		}

		.btn.btn-dark {
			color: black;
		}

		.btn.btn-warning {
			color: yellow;
		}

		.btn.btn-info {
			color: cyan;
			text-shadow: 2px 2px 2px black;
		}

		.btn.btn-primary {
			color: blue;
		}

		.btn.btn-danger {
			color: red;
		}
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  background-color: transparent !important;
  transition: background-color 50000000000s ease-in-out 0s;
}

.text-sm {
	font-size: 0.8em;
}

.shadow-0 {
	text-shadow: none;
}

.no-container {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.progress-container {
	display: inherit;

	span {
		font-weight: bolder;
	}
}

.bar {
	border: 3px solid black;
	border-radius: 20px;
	box-shadow: 0 0 8px black;
}

.bar.bar-horizontal {
	height: 25px;
	width: 40px;

	.progress {
		border-radius: 20px;
		height: 19px;
		width: 100%;
	}

	.progress.progress-bored {
		background: linear-gradient(to right, white -30%, #4a084a 0%, white 0);
	}

	.progress.progress-stress {
		background: linear-gradient(to right, yellow, red 0%, white 0);
	}

	.progress.progress-xp {
		background: linear-gradient(to right, lightgreen, green 0%, white 0);
	}

	.progress.progress-blue {
		background: linear-gradient(to right, lightblue, blue 0%, white 0);
	}
}

.bar.bar-horizontal.bar-1 {
	width: 50px;
}

.bar.bar-horizontal.bar-2 {
	width: 100px;
}

.bar.bar-horizontal.bar-3 {
	width: 150px;
}

.bar.bar-horizontal.bar-4 {
	width: 200px;
}

.bar.bar-horizontal.bar-5 {
	width: 250px;
}

.profile-container {
	display: inline;

	span {
		font-weight: bolder;
		text-shadow: 0px 0px 1px white;
		color: white;
	}
}

.icon-circle {
	border-radius: 50%;
}

.text-shadow-black {
	text-shadow: 2px 2px 5px black;
}

.text-shadow-white {
	text-shadow: 2px 2px 5px white;
}


.text-shadow-black.text-shadow-1 {
	text-shadow: 0px 0px 1px black;
}

.text-shadow-white.text-shadow-1 {
	text-shadow: 0px 0px 1px white;
}


.sidebar {
	background-color: #f3f37c;
	position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 40vh;
  min-height: 300px;
  border-radius: 0 40px 0 0;
  border: 3px solid black;
}

.subjects {
	position: relative;
	margin-left: 330px;
	min-width: 900px;

	.subject-container {
		position: absolute;
		height: 220px;
		width: 220px;
		border: 10px solid black;
		background-color: white;

		.subject-head {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: gray;
			margin-bottom: 0.25rem;
			transition: all 1s;
			opacity: 1;

			.subject-title {
				font-weight: bolder;
				margin-top: 60px;
			}
		}

		.subject-body {
			position: absolute;
			width: 100%;
			height: 100%;
			transition: all 1s;
			opacity: 0;
			background-image: url("piso.jpg");
			background-repeat: repeat;
			background-size: 30px 30px;
		}
	}

	.subject-container.subject-min {
		height: 150px;

		.subject-head {
			.subject-title {
				margin-top: 50px;
			}
		}
	}

	.subject-container:hover {
		.subject-head {
			opacity: 0;
		}

		.subject-body {
			opacity: 1;
		}
	}

	.subject-container#ce {
		top: 0;
		left: 0;

		.subject-body {

		}
	}

	.subject-container#ch {
		top: 0px;
		left: 675px;
	}

	.subject-container#cb {
		top: 370px;
		left: 0;
	}
	
	.subject-container#lc {
		top: 370px;
		left: 675px;
	}

	.subject-container#br {
	  top: 140px;
	  left: 330px;
	  border-bottom: 5px solid black;
	}

	.subject-container#sr {
	  top: 290px;
	  left: 330px;
	  border-top: 5px solid black;
	}
}
