<p>Olá <%= @resource.email %>!</p>

<p>Alguém fez um pedido de redefinição de senha na sua conta do jogo StudentEvolution. Se foi você que fez essa solicitação, utilize o link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha sido você que fez a solicitação, apenas ignore.</p>
<p>Sua senha atual permanecerá a mesma até que você clique no link acima.</p>
