<footer class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item">
			<%= link_to "Ajuda", help_path, class: "nav-link" %>
    </li>

		<li class="nav-item">
			<%= link_to "Sobre", about_path, class: "nav-link" %>
    </li>
	</ul>
</footer>