<footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item">
      <a class="nav-link">Ajuda</a>
    </li>
		<li class="nav-item">
      <a class="nav-link">Sobre</a>
    </li>
	</ul>
</footer>